{% load static %}

<div class="container border rounded px-3 py-3 my-3">
    <div class="row">
        <div class="col-2">
            <div class="row">
                <div class="col mb-2">
                    <a href="" class="d-flex justify-content-center"><img src="{{ question.author.avatar.url }}" class="w-50"></a>
                </div>
            </div>
            {% csrf_token %}
            <div class="like-section row d-flex justify-content-center">
                <button data-id="{{ question.id }}" class="
                {% if question in likes %}
                    btn-success
                {% else %}
                    btn-outline-success
                {% endif %}
                btn col-3 p-0 mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up " viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </button>
                <span class="col-4 text-center p-0">{{ question.rating }}</span>
                <button data-id="{{ question.id }}" class="
                {% if question in dislikes %}
                    btn-danger
                {% else %}
                    btn-outline-danger
                {% endif %}
                btn col-3 p-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <a href="{% url 'question' question.id %}" class="fs-4 fw-bold">{{ question.title }}</a>
                <p>{{ question.content }}</p>
            </div>
            <div class="row">
                <p class="fs-6 my-1"><span class="text-decoration-underline">Tags:</span>
                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag_search' tag %}" class="link">{{ tag }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
  </div>