{% extends 'layouts/base.html'%}

{% block content %}
<form class="needs-validation" novalidate>
    <div class="row my-2">
        <h2>Log in</h2>
    </div>
    <div class="row my-2">
      <span class="text-danger">Sorry wrong login or password</span>
    </div>
    <div class="form-row my-3 input-group">
        <div class="col-2 pt-1 d-flex justify-content-start">
            <label class="fs-6" for="login">Login</label>
        </div>
        <div class="col-5">
            <input type="text" class="form-control" id="login" required>
            <div class="invalid-feedback">Wrong login</div>
        </div>
    </div>
    <div class="form-row my-3 input-group">
        <div class="col-2 pt-1 d-flex justify-content-start">
            <label class="fs-6" for="password">Password</label>
        </div>
        <div class="col-5">
            <input type="password" class="form-control" id="password" required>
            <div class="invalid-feedback">Wrong password</div>
        </div>
    </div>
    <div class="form-row my-3 input-group">
        <div class="col-2"></div>
        <div class="col-5 d-flex bd-highlight">
            <button class="me-auto btn btn-success bd-highlight" type="submit">Log in</button>
            <a href="" class="link bd-highlight mt-1">Create new account</a>
        </div>
    </div>
</form>
{% endblock %}