{% extends 'layouts/base.html'%}

{% block content %}
    <section class="mt-2 border-bottom">
        {% include 'components/question-item.html' %}
    </section>
    <section class="my-3 border-bottom ps-4">
        {%for answer in answers%}
            {% include 'components/answer-item.html'%}
        {% endfor %}
        <div class="ms-4 mt-3">
            <nav aria-label="" >
              <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
        </div>
    </section>
    <section>
        <form action="" class="needs-validation" novalidate>
            <div class="row">
                <div class="col">
                    <textarea class="form-control" style="height: 200px" id="answerType" placeholder="Enter your answer" required></textarea>
                    <div class="invalid-feedback">Wrong Text</div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end mt-2">
                    <button class="btn btn-success" type="submit">Answer</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}