<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MySite</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="overflow-hidden">
    <!--  Navbar  -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MySite</a>
            <form role="search" class="d-flex">
                <input type="search" class="form-control me-2" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <a href="#profile" class="nav-link navbar-toggler">
                            <img src="..." class="rounded mt-auto img-thumbnail">
            </a>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto ">
<!--                    <li class="nav-item">-->
<!--                        <button class="btn btn-primary me-2">Log in</button>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <button class="btn btn-light">Sign in</button>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a href="#learn" class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#settings" class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a href="#profile" class="nav-link btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="..." class="rounded mt-auto img-thumbnail">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a href="#" class="dropdown-item">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a href="#" class="dropdown-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                      <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                    </svg>
                                </a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--    Showcase    -->
    <div class="container-fluid row p-0 m-0 vh-100">
        <section class="bg-body text-dark text-center p-5 col-8">

        </section>
        <section class="bg-light text-dark text-center p-2 col-4">
            <h2 class="my-3">Popular Tags</h2>
            <div class="container text-start mx-4">
                <div class="row">
                    <div class="col-3">
                        <a href="#" class="link-warning"><h5>Tag1</h5></a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="link-danger"><h4>Tag2</h4></a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="link-primary"><h5>Tag2</h5></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <a href="#" class="link-info"><h4>Tag4</h4></a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="link-dark"><h5>Tag5</h5></a>
                    </div>
                    <div class="col-2">
                        <a href="#" class="link-success"><h6>Tag6</h6></a>
                    </div>
                </div>
            </div>
            <h2 class="mt-5 mb-3">Best memebers</h2>
            <ul class="list-group list-group-flush text-start mx-3">
                <li class="list-group-item bg-light"><a href="#" class="link-primary">User1</a></li>
                <li class="list-group-item bg-light"><a href="#" class="link-primary">User2</a></li>
                <li class="list-group-item bg-light"><a href="#" class="link-primary">User3</a></li>
                <li class="list-group-item bg-light"><a href="#" class="link-primary">User4</a></li>
                <li class="list-group-item bg-light"><a href="#" class="link-primary">User5</a></li>
            </ul>
        </section>
    </div>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>